In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import OneHotEncoder

仮データフレームの作成

In [113]:
df_users = range(1, 100)
df_users= pd.DataFrame(df_users, columns=['sample_id'])
df_users['family'] = np.random.randint(1, 10, df_users.shape[0])
df_users['age'] = np.random.randint(0, 10, df_users.shape[0])

In [114]:
df_posses = range(1, 100)
df_posses = pd.DataFrame(df_posses, columns=['sample_id'])
df_posses['maker_name'] = ['maker_' + str(i) for i in np.random.randint(1, 10, df_posses.shape[0])]
df_posses["year"] = np.random.randint(0, 10, df_posses.shape[0])
# ランダムな数字を2つ生成し、それぞれの数字を文字列に変換して結合
df_posses["bodytype_subtype"] = ['body' + str(i) + '_' + 'sub' + str(j) for i, j in zip(np.random.randint(1, 4, df_posses.shape[0]), np.random.randint(1, 8, df_posses.shape[0]))]
# df_posses["bodytype_subtype"] = ['body' + str(i) for i in np.random.randint(1, 10, df_posses.shape[0]) + '_' + 'sub' + str(j) for j in np.random.randint(1, 10, df_posses.shape[0])]

In [116]:
df_posses["bodytype_subtype"]

0     body2_sub2
1     body3_sub7
2     body3_sub5
3     body1_sub6
4     body2_sub3
         ...
94    body1_sub1
95    body1_sub4
96    body3_sub7
97    body1_sub3
98    body1_sub4
Name: bodytype_subtype, Length: 99, dtype: object

前保有車は今は使わない

In [52]:
df_previous = range(1, 100)
df_previous = pd.DataFrame(df_previous, columns=['sample_id'])
df_previous['maker_name'] = ['maker_' + str(i) for i in np.random.randint(1, 10, df_previous.shape[0])]
df_previous["year"] = np.random.randint(0, 10, df_previous.shape[0])

In [53]:
df_expect = range(1, 100)
df_expect = pd.DataFrame(df_expect, columns=['sample_id'])
df_expect['importance.1'] = [int(i) for i in np.random.randint(1, 10, df_previous.shape[0])]
df_expect['importance.2'] = [int(i) for i in np.random.randint(1, 10, df_previous.shape[0])]
df_expect['importance.3'] = [int(i) for i in np.random.randint(1, 10, df_previous.shape[0])]
df_expect['importance.4'] = [int(i) for i in np.random.randint(1, 10, df_previous.shape[0])]

In [54]:
df_think = range(1, 100)
df_think = pd.DataFrame(df_think, columns=['sample_id'])
df_think['Q.1'] = [int(i) for i in np.random.randint(1, 10, df_previous.shape[0])]
df_think['Q.2'] = [int(i) for i in np.random.randint(1, 10, df_previous.shape[0])]
df_think['Q.3'] = [int(i) for i in np.random.randint(1, 10, df_previous.shape[0])]
df_think['Q.4'] = [int(i) for i in np.random.randint(1, 10, df_previous.shape[0])]

In [94]:
df1 = pd.merge(df_users, df_posses, on='sample_id')

In [95]:
df2 = pd.merge(df1, df_expect, on='sample_id')

In [96]:
df3 = pd.merge(df2, df_think, on='sample_id')

2016年以前に購入したユーザーに絞り込む

In [97]:
before2016 = df3[df3['year'] >5]

さらに、現保有車がトヨタではないユーザーに絞り込む

In [98]:
before2016_not_toyota = before2016[before2016['maker_name'] != 'maker_1']

メーカーごとに何を重視して購入したかを計算する

In [99]:
maker_importance = before2016_not_toyota[['maker_name', 'importance.1', 'importance.2', 'importance.3', 'importance.4']]

In [100]:
maker_importance.groupby('maker_name').sum()

            importance.1  importance.2  importance.3  importance.4
maker_name
maker_2               22            22            26            20
maker_3               13            11            13            13
maker_4               31            48            26            20
maker_5               17            11            10            12
maker_6               13            24            19            19
maker_7               29            22            27            25
maker_8               43            24            51            50
maker_9               15            15            23            13

車に対する質問で有効そうな質問を抜き出し、それぞれ合計値を出す

In [101]:
maker_think_Q1 = before2016_not_toyota[['maker_name', 'Q.1']]

In [102]:
maker_think_Q1.groupby('maker_name').sum()

            Q.1
maker_name
maker_2      23
maker_3       6
maker_4      28
maker_5      14
maker_6      20
maker_7      27
maker_8      47
maker_9      11

In [103]:
maker_think_Q3 = before2016_not_toyota[['maker_name', 'Q.3']]

In [104]:
maker_think_Q3.groupby('maker_name').sum()

            Q.3
maker_name
maker_2      11
maker_3      19
maker_4      30
maker_5      12
maker_6      12
maker_7      25
maker_8      36
maker_9      13

In [106]:
maker_family = before2016_not_toyota[['family', 'maker_name', 'bodytype_subtype']]

年齢と年収の関係を散布図にする

In [ ]:
# ここでageid（数字で書かれている）を文字列に変換→ 閲覧用資料に例がある
df_users.plot.scatter(x='ageid', y='income_level')
# それか　xlabels('ageid') = ['0-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80-89', '90-99']

トヨタ車以外の国産車を2016年以前に買ったユーザーはどれくらいいるのか

In [ ]:
all_number_before_2016 = df3[df3[''] >= ] 
#　前保有車を買った年のカラム名、2016年に対応する回答番号
without_toyota_before_2016 = all_number_before_2016[all_number_before_2016['maker_name'] != 'トヨタ']

家族構成で現在（2022年）段階で高校生の子供がいる→2024年では大学生で親元を離れる人が多い？
当時小学生〜中学生の子供がいた想定

In [ ]:
child_2022 = without_toyota_before_2016[without_toyota_before_2016['child'] >= ]
# 子供の数のカラム名、高校生に対応する回答番号

In [ ]:
# 子どもがいる人の割合
child_2022['child'].value_counts().plot.pie(autopct='%1.1f%%')

トヨタ以外、2016年以前に購入、子どもが今高校生の人が買った車のタイプ

In [ ]:
bodysub_without_toyota_before_2016 = without_toyota_before_2016['bodytype_subtype'].value_counts()

In [ ]:
body_without_toyota_before_2016 = without_toyota_before_2016['bodytype'].value_counts()
sub_without_toyota_before_2016 = without_toyota_before_2016['subtype'].value_counts()

彼らが当時その車を買った時に重視していたこと

In [ ]:
importance_without_toyota_before_2016 = without_toyota_before_2016[]
# for構文ですでに作った型に当てはめる

40代に絞って車に対する考え方（価値観がわかるところ）をグラフ化

In [ ]:
forties_without_toyota_before_2016 = without_toyota_before_2016[without_toyota_before_2016['ageid'] == ]
# 年代のカラム名、40代に対応する回答番号

In [ ]:
forties_importance_without_toyota_before_2016 = forties_without_toyota_before_2016.filter(like='importance', axis=1)
# 40代の人が当時トヨタ以外を買った時に重視した点（MA）

In [ ]:
forties_importance_without_toyota_before_2016.sum().plot.bar()
#40代の人が当時トヨタ以外を買った時に重視した点（MA）の合計

50代も見てみる

In [ ]:
fifties_without_toyota_before_2016 = without_toyota_before_2016[without_toyota_before_2016['ageid'] == ]
# 年代のカラム名、50代に対応する回答番号
fifties_importance_without_toyota_before_2016 = fifties_without_toyota_before_2016.filter(like='importance', axis=1)
# 50代の人が当時トヨタ以外を買った時に重視した点（MA）
fifties_importance_without_toyota_before_2016.sum().plot.bar()
# 50代の人が当時トヨタ以外を買った時に重視した点（MA）の合計

60代も見てみる

In [ ]:
sixties_without_toyota_before_2016 = without_toyota_before_2016[without_toyota_before_2016['ageid'] == ]
# 年代のカラム名、60代に対応する回答番号
sixties_importance_without_toyota_before_2016 = sixties_without_toyota_before_2016.filter(like='importance', axis=1)
# 60代の人が当時トヨタ以外を買った時に重視した点（MA）
sixties_importance_without_toyota_before_2016.sum().plot.bar()
# 60代の人が当時トヨタ以外を買った時に重視した点（MA）の合計

40代以上で、トヨタと他社を比べて、トヨタを選んだ時の期待したこと

In [ ]:
posses_toyota = df3[df3['maker_name_x'] == 'トヨタ']
# おそらく現保有車のメーカー名のカラム名＝maker_name_x、トヨタに対応する回答番号